*{
    margin: 0;
    padding: 0;
    list-style: none;
}
#root,html,body,.wrap{
    width: 100%;
    height: 100%;
    background: #ccc;
    display: flex;
    flex-direction: column;
}
.header{
    width:100%;
    height: 100px;
    line-height: 100px;
    background: red;
}
.main{
    width:100%;
    flex:1;
    overflow: auto;
}
.footer{
    width:100%;
    height: 50px;
    line-height: 50px;
    background: goldenrod;
}